.xd{
    background-color: #5B0888;
    background-color:#713ABE ;
    background-color: #9D76C1;
    background-color: #E5CFF7;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
    text-align: center;
    background-color: #E5CFF7;
   
}
input{
    margin: auto;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 20px;
    border: 2px solid #5B0888;
    background-color: #9D76C1;
    outline: none;
    transition: 0.5s;
}
input:focus{
    background-color: #713ABE;
    border: 2px solid #5B0888;
    outline: none;
}
#tasks{
    width: 80%;
    min-width: 300px;
    height: 300px;
    border: 2px solid #5B0888;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    color: #5B0888;
    text-decoration: underline;
}
button{
    margin: auto;
       
}
.task{
    height: 94%;
    width: 200px;
    border: 2px solid #5B0888;
    border-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.head{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #5B0888;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    padding: 10px
}
button{
    width: 40%;
    max-width: 400px;
    height: 50px;
    margin-top: 10px;
    border-radius: 15px;
    border:2px solid #5B0888; 
    background-color: #9D76C1;
    font-size:20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #5B0888;
    color:#ffffff;
}

